# Cerberus
/bin/*
!/bin/*.txt
!/bin/themes
!/bin/icons
!/bin/templates


.bmx
.DS_Store
._.DS_Store
*.buildv*
desktop.ini
Thumbs.db
._*

/Cerberus
/Cerberus.app
/Cerberus.exe

/docs/html

/modules/brl/native/GoogleAdMobAdsSdkiOS-6.8.0
/modules/brl/native/GoogleAdMobAdsSdk-6.4.1.jar

!/src/rebuildall*
/src/createrelease
/src/ted-build-*
/src/build-ted-*
/src/ted/ted.pro.user*

/targets/__deprecated__/android_ndk

/**/codeblocks/bin
/**/codeblocks/obj
/**/codeblocks/*.depend
/**/codeblocks/*.layout

/src/transcc/transcc.build/cpptool/main_winnt.exe
/src/transcc/transcc.build/cpptool/main_linux
/src/transcc/transcc.build/cpptool/main_macos
/src/transcc/transcc.build_new

/libs/**/*.dll
/libs/**/*.so
/libs/**/*.a
/libs/**/*.lib
/libs/**/*.dylib
/libs/**/*.framework
!/libs/**/*.txt
/src/archives/icons
/src/thirdparty/makfiles/obj
/src/**/*.o
!/src/thirdparty/**/*.o

*.bak
# git will read all frameworks as unstaged on MacOS X. You should compress all frameworks into tar.gz format
*.framework

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.sdf
*.pdb
*.ikl
*.VC.db
.vs/
.vscode

/**/Release32
/**/Release64
/**/Debug32
/**/Debug64

# XCODE
# Remove any user specific data and build files
/**/xcuserdata
/**/*.xcuserdatad
/**/Build
